<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Free Dumb Hosting</title>
	<link rel="stylesheet" href="/css/pure-min.css">
	<link rel="stylesheet" href="/css/custom.css">
	<!-- A base tag, so we can easily use the 'right' URL -->
	<base href="http://freedumbz7seqv3r.onion/">
</head>
<body>
	<div id="layout">
		<div id="menu">
			<div class="pure-menu">
				<a class="pure-menu-heading" href="/">Free Dumb Hosting</a>
				<ul class="pure-menu-list">
					<li class="pure-menu-item"><a href="/create" class="pure-menu-link">Create a VM</a></li>
					<li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
					<li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a></li>
				</ul>
			</div>
		</div>
		<div id="main">
			<div class="header">
				<h1>Welcome to Free Dumb Hosting</h2>
				<h2>We're like the opposite of those Freedom guys</h2>
			</div>
			<div class="content">
				<p>We're in what essentially amounts to an open beta. There's going to be glitches, it's not going to work right, but it's still technically "live".</p>
				<p>Check out the about page, then create a VM and have fun</p>
			</div>
		</div>
	</div>
</body>
</html>
